
@{
    ViewBag.Title = "Add_Dir";
}

<form method="post" action="/admin/add_Dir" enctype="multipart/form-data" >
    <label>Name</label><input type="text" name="name" />
    <br />
    <label>photo</label><input type="file" name="photo"/>
    <br />
    <input type="submit" value="send" />
</form>

