@{
    ViewBag.Title = "AdminActions";
}

<a href="/Admin/AddMovie">
    <h1>AddMovie</h1>
</a>
<a href="/Admin/Add_Dir">
    <h2>Add_Dir</h2>
</a>
<a href="/Admin/addact">
    <h3>addact</h3>
</a>
<a href="/Admin/AllMovie">
    <h3>AllMovie</h3>
</a>