@{
    ViewBag.Title = "Index";
}
<br />
<br />
<form method="post" action="/Admin/Index" >
    <label>Username</label> <input type="text" name="Usename" />
    <br />
    <label>Password</label> <input type="text" name="Password" />
    <br />
    <input type="submit" value="send" />
</form>