@model IList<imdb.Models.director>

@{
    ViewBag.Title = "Alldirectors";
}

<form method="post" action="/profile/addfavdirs">

    <label>Directors</label>
    <select name="mo">
        @foreach (var item in Model)
        {
            <option value="@item.id">@item.name</option>
        }
    </select>
    <br />
    <input type="submit" value="Add to favourite" />
</form>



@{foreach (var item in Model)
    {
        <img src="@item.photo_dir" height="150px" />
        <h4>@item.name</h4>
    }
}

