@model imdb.Models.User

@{
    ViewBag.Title = "myfav";
}

<a href="/profile/myfavMovies">
    <h1>my favourite Movies</h1>
</a>
<a href="/profile/myfavActs">

    <h1> My favourite Actors</h1>
    </a>
<a href="/profile/myfavDirs">

    <h1> My favourite Director</h1>
</a>