@{
    ViewBag.Title = "Home Page";
}

<form method="post" action="/Home/index">
<label>Username</label>
    <input type="text" name="uname"/>
    <br />
<label>Password</label>
    <input type="password" name="pass" />
    <br />
 <input type="submit"  value="send"/>
</form>
<br />
<br />
<a href="/home/Signup"> <input type="button" value="Signup" /></a>