@{
    ViewBag.Title = "Signup";
}

<form method="post" action="/Home/Signup" enctype = "multipart/form-data" >
    <label>Frist Name</label> <input type="text" name="Fname" />
    <br />
    <label>last Name</label> <input type="text" name="Lname" />
    <br />
    <label>Photo</label> <input type="file" name="photo" />
    <br />
    <label>UserName</label> <input type="text" name="uname" />
    <br />
    <label>Password</label> <input type="password" name="pass" />
    <br />
    <input type="submit" value="send" />
</form>

<h3>
@ViewBag.mss
</h3>